section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  select {
    font-size: 1.25rem;
    width: min-content;
    background-color: var(--color-background);
    color: var(--color-accent);

    transition: background-color 0.3s ease;
  }
}
