@use '~styles/partials/variables';

.container {
  display: grid;
  justify-content: center;

  grid-template-areas:
    'controls'
    'base'
    'main';

  height: min-content;

  .controls {
    margin-top: var(--content-margin);
    grid-area: controls;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  .base {
    grid-area: base;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    border-radius: var(--border-radius);
  }

  .main {
    grid-area: main;
  }

  select {
    font-size: 1.25rem;

    color: var(--color-accent);
    background-color: var(--color-background);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
  }
}
