@use '~styles/partials/variables';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 2;

  padding: 0 1rem;

  background: var(--color-background);
  box-shadow: 0 1rem 1rem var(--color-dark);
  z-index: 5;

  transition: background var(--transition-duration) var(--transition-timing-function);

  display: grid;
  align-items: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
      cursor: pointer;
      display: none;

      color: var(--color-accent);
      background: transparent;

      transition: color 0.1s ease-in;

      &:hover {
        color: var(--color-danger);
      }

      svg {
        font-size: 2rem;
      }
    }
  }

  @media screen and (max-width: variables.$no-sidebar-width) {
    .left button {
      display: block;
    }
  }
}
