.container {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;

  color: var(--color-accent);
  background-color: var(--color-accent-alt);

  height: min-content;
  max-height: 400px;

  box-shadow: var(--box-shadow);

  // NOTE: idk why but I need this
  border-radius: var(--border-radius-down);

  // make sure shadow is displayed
  &:last-child {
    margin-bottom: 1rem;
  }

  h3 {
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-up);

    color: var(--color-accent-alt);
    background-color: var(--color-accent);

    transition: all var(--transition-duration) var(--transition-timing-function);
  }

  .content {
    padding: 0.25rem 1rem;

    ul {
      border-radius: var(--border-radius-down);
      background-color: var(--color-accent-alt); // for overflow-y: auto

      transition: all var(--transition-duration) var(--transition-timing-function);

      li {
        height: 100%;
      }
    }
  }
}
