.container {
  font-size: 1.1rem;
  font-weight: 500;

  display: flex;
  align-items: center;

  color: var(--color-accent);
  background-color: var(--color-accent-alt);
  box-shadow: var(--box-shadow);

  transition: all var(--transition-duration) var(--transition-timing-function);

  // make sure shadow is displayed
  &:last-child {
    margin-bottom: 1rem;
  }

  h3 {
    height: 100%;

    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-left);

    color: var(--color-accent-alt);
    background-color: var(--color-table-head);

    transition: all var(--transition-duration) var(--transition-timing-function);
  }

  .content {
    padding: 0.25rem 1rem;
  }
}
