@use '~styles/partials/mixins';
@use '~styles/partials/variables';

.container {
  button {
    min-height: 3rem;

    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 1rem;
    align-items: center;

    margin-left: 2rem;
    color: var(--color-info-dark);
    background: transparent;

    &:hover {
      color: var(--color-primary);
    }

    &.marquee {
      &:hover {
        h3 span {
          @include mixins.Marquee();
        }
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    h3 {
      font-weight: 500;
      font-size: 0.875rem;

      @include mixins.Ellipsis();
    }
  }

  .content {
    overflow: hidden;

    transition: height 0.2s ease;
  }
}
