@mixin Backdrop($alpha) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, $alpha);

  transition: opacity 0.5s ease;
}

@mixin Ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin Marquee() {
  display: inline-block;
  animation: scrollText 3s ease-in-out 0s infinite normal;

  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
  }
}
