@use '~styles/partials/variables';

.container {
  height: 100vh;

  position: sticky;
  top: 0;

  background: var(--color-background);

  transition: background 0.3s ease;

  .navMenu {
    height: calc(100vh - var(--content-margin) - 2rem);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: var(--content-margin);

    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .navlink {
      min-height: 3rem;

      display: flex;
      gap: 1rem;
      align-items: center;

      margin-left: 2rem;
      color: var(--color-info-dark);

      transition: all 0.3s ease;

      &:hover {
        color: var(--color-primary);

        svg {
          margin-left: 1rem;
        }
      }

      &:last-child {
        margin-top: auto;
      }

      svg {
        min-width: 1.5rem;
        min-height: 1.5rem;

        transition: all 0.3s ease;
      }

      &.active {
        margin-left: 0;

        color: var(--color-primary);
        background: var(--color-light);

        &::before {
          content: '';
          width: 6px;
          height: 100%;
          position: relative;
          left: 0;
          background: var(--color-primary);
        }

        svg {
          margin-left: calc(1rem - 3px);
        }
      }

      h3 {
        font-weight: 500;
        font-size: 0.875rem;
      }
    }
  }

  @media screen and (max-width: variables.$mobile-width) {
    width: 18rem;
    position: fixed;
    margin-top: 0;
    left: -100%;

    display: none;
    padding-right: 2rem;

    background: var(--color-background);
    box-shadow: 1rem 3rem 4rem var(--color-light);
    z-index: 3;

    animation: showMenu 0.3s ease forwards;

    &.open {
      display: block;
    }

    @keyframes showMenu {
      to {
        left: 0;
      }
    }
  }
}
