.container {
  position: sticky;
  top: var(--header-height);
  left: 0;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: stretch;
  align-items: center;

  width: 75px;
  height: calc(100vh - var(--header-height));
  padding-top: 1rem;

  border-right: 1px solid var(--light-gray);

  overflow: hidden;
  transition: width var(--animation-duration) var(--animation-timing-curve);

  &.open {
    width: 200px;

    .topSection {
      height: 105px;

      .logo {
        width: 100px;
        height: 100px;
      }
    }

    .hiddenSidebar {
      opacity: 1;
      width: 100%;
      height: auto;
    }

    .middleSection .menuList .navlink,
    .bottomSection .menuList .navlink {
      justify-content: flex-start;
    }
  }

  .hiddenSidebar {
    opacity: 0;
    width: 0;

    transition: opacity var(--animation-duration) var(--animation-timing-curve);
  }

  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;

    transition: height var(--animation-duration) var(--animation-timing-curve);

    .hiddenSidebar {
      width: 100%;
      text-align: center;
    }

    .logo {
      display: block;
      width: 50px;
      height: 50px;

      transition: var(--animation-duration) var(--animation-timing-curve);
      animation: logo-spin infinite 20s linear;

      @keyframes logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      & > img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      font-size: 0.75rem;
      font-weight: bold;
      color: var(--dark-gray);

      margin: 0.5rem 0 0.15rem;
    }

    .subtitle {
      font-size: 0.75rem;
      color: var(--medium-gray);
    }
  }

  .middleSection {
    flex-grow: 1;
    margin: 1rem 0;

    overflow-x: hidden;
    overflow-y: auto;
  }

  .middleSection,
  .bottomSection {
    width: 100%;
  }

  .menuList {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;

    .hiddenSidebar {
      margin-left: 1.5rem;
      white-space: nowrap;
    }

    .menuListItem {
      position: relative;
      width: 100%;
      color: var(--light-gray);

      &.active {
        .sidebarIcon {
          color: var(--accent-color);
        }
        background-color: var(--lighttest-gray);

        &::before {
          content: '';
          position: absolute;
          left: 0;

          width: 5px;
          height: 100%;
          background-color: var(--accent-color);
        }
      }

      &:hover {
        background-color: var(--lighttest-gray);
      }

      .navlink {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.5rem 0 0.5rem 25px;

        color: var(--light-gray);
        text-decoration: none;

        .sidebarIcon {
          flex-shrink: 0;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
