.caption {
  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;
  margin: 0.5rem 0;

  transition: all var(--transition-duration) var(--transition-timing-function);
}

.wrapper {
  display: flex;
  justify-content: center;

  width: fit-content;
  max-height: 400px;
  margin: 0 auto;
  overflow: auto;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  table {
    border-collapse: collapse;
    overflow-x: scroll;

    thead {
      position: sticky;
      top: 0;

      font-size: 0.875rem;
      font-weight: bold;

      color: var(--color-background);
      background-color: var(--color-accent);

      transition: all var(--transition-duration) var(--transition-timing-function);

      tr th {
        padding: 0.25rem 0.5rem;
      }
    }

    tbody {
      tr td {
        padding: 0.25rem;
        text-align: center;
      }

      tr {
        transition: all var(--transition-duration) var(--transition-timing-function);
      }

      tr:nth-child(odd) {
        background-color: var(--color-background);
      }

      tr:nth-child(even) {
        background-color: var(--color-accent-alt);
      }
    }
  }
}
