@use '~styles/partials/variables';

.caption {
  font-size: 1.5rem;
  font-weight: bold;

  text-align: center;
  margin: 2rem 0 0.5rem;

  transition: all var(--transition-duration) var(--transition-timing-function);

  &:first-child {
    margin-top: 1rem;
  }
}

.wrapper {
  display: flex;
  justify-content: center;

  max-height: 400px;
  margin: 0 auto;
  overflow: auto;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      position: sticky;
      top: 0;

      font-size: 0.875rem;
      font-weight: bold;

      color: var(--color-background);
      background-color: var(--color-table-head);

      transition: all var(--transition-duration) var(--transition-timing-function);

      tr th {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;

        padding: 0.5rem;
      }
    }

    tbody {
      tr {
        transition: all var(--transition-duration) var(--transition-timing-function);

        &:nth-child(odd) {
          background-color: var(--color-accent-alt);
        }

        &:nth-child(even) {
          background-color: var(--color-background);
        }
      }

      td {
        padding: 0.5rem;
      }
    }

    @media screen and (max-width: variables.$mobile-width) {
      thead {
        display: none;
      }

      tbody {
        tr {
          min-height: 20px;
          display: block;
          padding-right: 0.5rem;

          td {
            // FIXME: ?? '-' fallback not always working
            min-height: 30px;

            font-size: 1.2rem;
            display: block;
            text-align: right;

            &:before {
              content: attr(data-label);

              font-weight: bold;
              text-transform: uppercase;
              float: left;

              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}
