.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  select {
    font-size: 1.25rem;
    width: fit-content;

    background-color: var(--color-background);
    color: var(--color-accent);

    transition: background-color var(--transition-duration) var(--transition-timing-function);
  }
}
