.container {
  cursor: pointer;
  width: 4.5rem;
  height: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-accent);
  background: var(--color-dark);

  border-radius: var(--border-radius);

  svg {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.15rem;
    border-radius: var(--border-radius-left);

    transition: all var(--transition-duration) var(--transition-timing-function);

    &:last-child {
      border-radius: var(--border-radius-right);
    }

    &.active {
      fill: white;
      background: var(--color-primary);
    }
  }
}
