.container {
  cursor: pointer;
  width: 4.5rem;
  height: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-accent);
  background: var(--color-dark);

  border-radius: 0.5rem;

  svg {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.15rem;
    border-radius: 0.5rem 0 0 0.5rem;

    transition: all 0.3s ease;

    &:last-child {
      border-radius: 0 0.5rem 0.5rem 0;
    }

    &.active {
      fill: white;
      background: var(--color-primary);
    }
  }
}
