@use '~styles/partials/mixins';

// marquee
.container {
  display: grid;

  h3,
  h4 {
    margin: 0.5rem 0;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  ul {
    margin: 1rem 0;

    li {
      margin: 0.5rem 0;
      list-style-type: disc;

      a {
        font-weight: 500;
        color: var(--color-primary);

        &:hover {
          color: var(--color-danger);
        }
      }
    }
  }
}
