@use '~styles/partials/mixins';
@use '~styles/partials/variables';

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(204, 0, 0);
  --lighttest-gray: rgb(249, 249, 249);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13);

  --animation-duration: 0.2s;
  --animation-timing-curve: ease-in-out;

  --header-height: 40px;
  --collapsed-sidebar-width: 74px;
  --expanded-sidebar-width: 200px;
}

.dim {
  &.open {
    @media only screen and (max-width: variables.$mobile-width) {
      @include mixins.Backdrop(0.75);
    }
  }
  .container {
    display: flex;

    .content {
      margin: 1rem;
    }
  }
}
