@use '~styles/partials/variables';

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-info-dark: #7d8da1;

  --color-background: #f6f6f9;
  --color-accent: #363949;
  --color-accent-alt: #dbdbdb;
  --color-dark: rgba(132, 139, 200, 0.18);

  --color-table-head: #363949;

  --color-shadow: rgba(0, 0, 0, 0.4);
  --box-shadow: 0.25rem 0.25rem 0.5rem 1px var(--color-shadow);

  --border-radius: 0.5rem;
  --border-radius-up: 0.5rem 0.5rem 0 0;
  --border-radius-down: 0 0 0.5rem 0.5rem;
  --border-radius-left: 0.5rem 0 0 0.5rem;
  --border-radius-right: 0 0.5rem 0.5rem 0;

  --transition-duration: 0.3s;
  --transition-timing-function: ease;

  --header-height: 60px;
  --content-margin: calc(var(--header-height) + 2rem);
  --sidebar-width: 16rem;

  @media screen and (max-width: variables.$mobile-width) {
    --sidebar-width: 18rem;
  }
}

[data-theme='dark'] {
  --color-background: #181a1e;
  --color-accent: #efeffd;
  --color-accent-alt: #2d2d33;
  --color-dark: rgba(0, 0, 0, 0.4);

  --color-table-head: #c8c8cf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--color-background);
  overflow-x: hidden;

  transition: background var(--transition-duration) var(--transition-timing-function);
}

body,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  margin: 0 auto;

  color: var(--color-accent);

  .content {
    margin: 0 2rem 2rem;

    // NOTE: .content always has one child which is a page container, so making sure there's padding for position: sticky
    & > *:first-child {
      & > *:first-child {
        margin-top: var(--content-margin);
      }
    }
  }
}

@media screen and (max-width: variables.$mobile-width) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
